body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.Header{
    margin: 47px auto 0px;
    max-width: 1920px;
    height: 86px;
    border-bottom: 1px solid #E6E6E6;
    background-color: white; 
    border-left: 1px solid #E6E6E6; 
    border-right: 1px solid #E6E6E6; 
}

.c-p{
    cursor: pointer;
}

.c-w{
    color: white;
}

.c-g{
    color: grey;
}

.c-b{
    color: black;
}

.c-inter{
    color: #1C2529;
}

.c-interesno{
    color: #476676;
}

.bc-w{
    background-color: #FFFFFF;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.jc-se{
    justify-content: space-evenly;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.ta-c{
    text-align: center;
}
.ai-fe{
    align-items: flex-end;
}

.fd-c{
    flex-direction: column;
}

.mb-0{
    margin-bottom: 0px;
}

.mt--885{
    margin-top: -885px;
}

.mt-1670{
    margin-top: 1670px;
}

.mt--30{
    margin-top: -30px;
}

.mt--20{
    margin-top: -20px;
}

.mt-0{
    margin-top: 0px;
}

.mt-10{
    margin-top: 10px;
}

.mt-16{
    margin-top: 16px;
}

.mt-24{
    margin-top: 24px;
}

.mt-32{
    margin-top: 32px;
}

.mt-46{
    margin-top: 46px;
}

.mt-83{
    margin-top: 83px;
}

.mt-94{
    margin-top: 94px;
}

.mt-120{
    margin-top: 120px;
}

.mt-8{
    margin-top: 8px;
}

.mt-171{
    margin-top: 171px;
}

.mt-180{
    margin-top: 180px;
}

.ml-208{
    margin-left: 208px;
}

.mt-165{
    margin-top: 165px;
}

.mt-150{
    margin-top: 150px;
}

.mt-290{
    margin-top: 290px;
}

.mt-615{
    margin-top: 615px;
}

.mt-622{
    margin-top: 622px;
}

.mt-800{
    margin-top: 800px;
}

.mt-4600{
    margin-top: 4600px;
}

.ml-0{
    margin-left:0px;
}

.ml-17{
    margin-left:17px;
}

.ml-25{
    margin-left: 25px;
}

.ml-39{
    margin-left:39px;
}

.ml--30{
    margin-left:-30px;
}

.ml--330{
    margin-left:-330px;
}

.ml--392{
    margin-left:-392px;
}

.ml--504{
    margin-left:-504px;
}

.ml-50{
    margin-left:50px;
}

.ml-55{
    margin-left:55px;
}

.ml-66{
    margin-left:66px;
}

.ml-85{
    margin-left:85px;
}

.ml--490{
    margin-left: -490px;
}


.ml-575{
    margin-left:575px;
}

.ml-600{
    margin-left:600px;
}

.ml-790{
    margin-left:790px;
}

.ml-874{
    margin-left:874px;
}

.ml-800{
    margin-left:800px;
}

.mr-208{
    margin-right: 208px;
}

.mr--208{
    margin-right: -208px;
}

.mr--390{
    margin-right: -390px;
}

.mr-82{
    margin-right: 82px;
}

.mr-50{
    margin-right: 50px;
}

.mr--30{
    margin-right: -30px;
}

.mr-42{
    margin-right: 42px;
}

.mr-25{
    margin-right: 25px;
}

.mr-0{
    margin-right: 0px;
}

.mr-17{
    margin-right: 17px;
}

.mr-408{
    margin-right: 408px;
}

.mr-505{
    margin-right: 505px;
}

.h-21{
    height: 21px;
}

.w-50{
    width: 50px;
}

.w-146{
    width: 146px;
}

.w-184{
    width: 184px;
}

.w-216{
    width: 216px;
}

.w-300{
    width: 300px;
}

.w-400{
    width: 400px;
}

.w-670{
    width: 670px;
}

.text-h-24{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.text-h-103{
    height: 41px;
    font-weight: 700;
    font-size: 40px;
    line-height: 103%;
}

.text-103-24{
    width: 51px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 103.05%;
    color: #FFFFFF;
}

.text-103-25-700{
    width: 14px;
    height: 26px; 
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 103.05%;  
    color: #1E4257;
}

.text-103-20-700{
    width: 181.48px;
    height: 24px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 103.05%;
    text-align: center;   
    color: #476676;
}

.text-24-20-600{
    width: 52px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E4257;
}
.text-103-23-700{
    width: 50px;
    height: 24px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 103.05%;
    text-align: center;   
    color: #476676;
}

.text-103-20-200{
    width: 200px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 103%;
}

.text-103-24-500{
    width: 123px;
    height: 25px;
    left: 1523px;
    top: 1258px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 103.05%;
    color: #FFFFFF;
}

.text-25-20-700{
    width: 123px;
    height: 24px;
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #1C2529;
}

.text-28-23-600{
    width: 88.55px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    text-align: right;
    color: #1C2529;
}

.text-18-15-500{
    height: 36px;
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.text-21-17-500{
    width: 175.06px;
    height: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.text-37-30-400{
    width: 165px;
    height: 37px;
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #476676;
}
.w-50prc{
    width: 50%;
}

.nav{
    width: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #D9D9D9;
}


.Account{
    width: 122px;
}

.Acc{
    width: 52px;
    height: 52px;
    border: 1px solid #ECECEC;
}

.Romb{
    width: 52px;
    height: 52px;
    background: radial-gradient(43.08% 63.75% at 50% 50%, rgba(157, 184, 200, 0.5) 0%, rgba(156, 183, 199, 0) 100%), #748E9C;
}


main{
    max-width: 1920px;
    height: 100vh;
    margin: 47px auto 0px;
    align-items:center;
    padding: 0;
    border-left: 1px solid #E6E6E6; 
    border-right: 1px solid #E6E6E6;
}

.ls{
    max-width: 50%;
}

.Make{
    font-family: 'Beauty Swing Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 103.05%;
    color: #1C2529;
}

.Charity{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #AAAAAA;
}

.but{
    width: 500px;
    margin-left: -100px;
}

.start{
    width: 221px;
    height: 80px;
    background-color: #748E9C;
    border: 1px solid #748E9C;
}

.dreams{
    width: 253px;
    height: 80px;
    border: 2px solid #DEDEDE;
}

.rs{
    max-width: 50%;
}

.rt p{
    width: 100px;
    height: 19px;
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 103.05%;
    color: #1C2529;
}

.pool{
    position: absolute;
    max-width: 1920px;
    /* height: 100vh; */
}

.bardak{
    width: 105.67px;
    height: 93px;
}

.prog{
    position: absolute;
    max-width: 1920px;
}

.progress{
    box-sizing: border-box;
    width: 1207px;
    height: 97px;
    border: 2px solid #DEDEDE;
}

.se{
    width: 948px;
    height: 93px;
    background: linear-gradient(90deg, #6C8693 -15.57%, #A7C2D3 117.18%);
}

.but-t{
    width: 255px;
    height: 97px;
    background-color: #748E9C;
    border: 1px solid #748E9C;
}

.nebo{
    position: absolute;
    width: 1920px;
    height: 100vh;
    background-color: #FFFFFF;
}

.sky{
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: -1;
}

.henocyde{
    height: 1920px;
    width: 570px;
}

.heno{
    width: 465px;
    height: 540px;
    background-color:#FFFFFF;
}

.img-h{
    width: 465px;
    height: 461.8px;
    background-size:cover;
    background-repeat: no-repeat;
}

.btn-n{
    position: absolute;
    box-sizing: border-box;
    width: 316px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #DEDEDE;
}

.louvre{
    position: absolute;
    width: 1920px;
    height: 0px;
    border-left: 1px solid #E6E6E6; 
    border-right: 1px solid #E6E6E6;
}

.text-louvre{
    width: 1920px;
    height: 0px;
}

.telka{
    width: 470px;
    height: 545.01px;
}


.img-t{
    width: 470px;
    height: 470px;
    background-size:cover;
    background-repeat: no-repeat;  
}

.benefits{
    width: 1920px;
    height: 0;
    border-left: 1px solid #E6E6E6; 
    border-right: 1px solid #E6E6E6;
}

.bene{
    width: 1920px;
    height: 0px;
}

.dogs{
    width: 1920px;
    height: 474px;
    position: absolute;
}

.dog{
    width: 349.93px;
    height: 474px;
    margin-top: 150px;
    
}

.sobaki{
    width: 349.93px;
    height: 291px;
}

.liniya{
    height: 474px;
    border-right: 1px solid #E6E6E6;
}

.kind{
    width: 1920px;
    height: 0px;
}

.Quanti{
    width: 1920px;
    height: 294px;
}

.blue-b{
    width: 1504px;
    height: 98px;
}

.b-1{
    background: linear-gradient(90deg, #7495A6 -2.86%, #B9D6E8 101.36%);
}

.b-2{
    background: linear-gradient(90deg, #83A8BB -2.86%, #CEE6F4 101.36%);
}

.b-3{
    background: linear-gradient(90deg, #A7C2D3 -2.86%, #EDF8FF 101.36%);
}